<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiazhong.huojian.mybatis.m1.mapper.CustomMapper">

    <!--
        代表一个查询方法
        id:方法名
    -->
    <select id="findAll" resultType="com.jiazhong.huojian.mybatis.m1.bean.Custom">
        <!--这里是SQL-->
        select * from custom
    </select>
    <insert id="saveCustom" parameterType="com.jiazhong.huojian.mybatis.m1.bean.Custom">
        insert into custom
        values (null, #{name}, #{city}, #{country})
    </insert>
    <update id="updateCustom" parameterType="com.jiazhong.huojian.mybatis.m1.bean.Custom">
        update custom
        set name=#{name},
            city=#{city},
            country=#{country}
        where id = #{id}
    </update>
    <delete id="deleteCustom" parameterType="int">
        delete
        from custom
        where id = #{id}
    </delete>
</mapper>