<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiazhong.huojian.mybatis.m4.Mapper.EmpMapper">
    <update id="update" parameterType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        update emp
        <set>
            <if test="ename!=null">
                ename=#{ename},
            </if>
            <if test="job!=null">
                job=#{job},
            </if>
            <if test="mgr!=null">
                mgr=#{mgr},
            </if>
        </set>
        where empno=#{empNo}

    </update>
    <select id="find1" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        select * from emp
        <if test="ename!=null">
            where ename like #{ename}
        </if>
    </select>
    <select id="find2" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        select * from emp
        <!---if-elese-->
        <choose>
            <when test="ename==null">
                where job='程序员'
            </when>
            <otherwise>
                where job='运维'
            </otherwise>
        </choose>
    </select>
    <select id="find3" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        select * from emp
        <choose>
            <when test="sal>60000">
                where job='程序员'
            </when>
            <when test="sal>40000">
                where job='网页设计'
            </when>
            <otherwise>
                where job='歌手'
            </otherwise>
        </choose>
    </select>
    <select id="find4" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        <!--select * from emp
        <where>
            <if test="job!=null">
                job=#{job}
            </if>
            <if test="sal!=null">
               and sal>#{sal}
            </if>
        </where>-->
        select * from emp
        <trim prefix="where" prefixOverrides="and|or">
            <if test="job!=null">
                job=#{job}
            </if>
            <if test="sal!=null">
                and sal>#{sal}
            </if>
        </trim>

    </select>
    <select id="find5" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        select * from emp
        <where>
            <if test="job!=null">
                job in
                <foreach collection="job" open="(" close=")" separator="," item="ab">
                    #{ab}
                </foreach>
            </if>
        </where>
    </select>
    <select id="find6" resultType="com.jiazhong.huojian.mybatis.m4.been.Emp">
        <bind name="abc" value="'%'+_parameter.getEname()+'%'"/>
        select * from emp
        where ename like #{abc}
    </select>


</mapper>